## Build results
**/bin/
**/_bin_deployableAssemblies/
**/obj/
*.dll
*.exe
*.app
*.log

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
*.dbmdl

## Visual Studio
.vs/
.vscode/
.idea/

## Web publish
publish/
*.Publish.xml
*.PublishProfiles/

## NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

## System files
*.DS_Store
*.tmp
*.bak
*.local
