@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="kt_app_content_container" class="app-container container-xxl">
    <!--begin::Card-->

    <div class="card mb-5 mb-xl-10">
        <!--begin::Card header-->
        <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
            <!--begin::Card title-->
            <div class="card-title m-0">
                <h3 class="fw-bold m-0">Customer Details</h3>
            </div>
            <!--end::Card title-->
        </div>
        <!--begin::Card header-->
        <!--begin::Content-->
        <div id="kt_account_settings_profile_details" class="collapse show">
            <!--begin::Form-->
            <form id="kt_account_profile_details_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
                <!--begin::Card body-->
                <div class="card-body border-top p-9">

                    <!--begin::Input group-->
                    <div class="row mb-6">
                        <!--begin::Label-->
                        <label class="col-lg-2 col-form-label required fw-semibold fs-6">Full Name</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-10 fv-row fv-plugins-icon-container">
                            <input type="text" name="CustomerName" id="CustomerName" class="form-control form-control-lg form-control-solid" placeholder="Full Name">
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="row mb-6">
                        <!--begin::Label-->
                        <label class="col-lg-2 col-form-label fw-semibold fs-6">
                            <span class="required">Contact Phone</span>
                        </label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-4 fv-row fv-plugins-icon-container">
                            <input type="tel" name="CustomerContactPhone" id="CustomerContactPhone" class="form-control form-control-lg form-control-solid" placeholder="Contact Phone">
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                        <!--begin::Label-->
                        <label class="col-lg-2 col-form-label fw-semibold fs-6">
                            <span class="required">Contact Email</span>
                        </label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-4 fv-row fv-plugins-icon-container">
                            <input type="tel" name="CustomerContactEmail" id="CustomerContactEmail" class="form-control form-control-lg form-control-solid" placeholder="Contact Email">
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="row mb-6">
                        <!--begin::Label-->
                        <label class="col-lg-2 col-form-label fw-semibold fs-6">
                            Contact Address1
                        </label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-10 fv-row">
                            <input type="text" name="CustomerContactAddress1" id="CustomerContactAddress1" class="form-control form-control-lg form-control-solid" placeholder="Contact Address1">
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="row mb-6">
                        <!--begin::Label-->
                        <label class="col-lg-2 col-form-label fw-semibold fs-6">Contact Address2</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-10 fv-row">
                            <input type="text" name="CustomerContactAddress2" id="CustomerContactAddress2" class="form-control form-control-lg form-control-solid" placeholder="Contact Address2">
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="row mb-6">
                        <!--begin::Label-->
                        <label class="col-lg-2 col-form-label fw-semibold fs-6">City</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-4 fv-row">
                            <input type="text" name="CustomerContactCity" id="CustomerContactCity" class="form-control form-control-lg form-control-solid" placeholder="City">
                        </div>
                        <!--end::Col-->
                        <!--begin::Label-->
                        <label class="col-lg-2 col-form-label fw-semibold fs-6">
                            State
                        </label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-4 fv-row">
                         @*   <input type="text" name="CustomerContactState" id="CustomerContactState" class="form-control form-control-lg form-control-solid" placeholder="State">*@
                            <select class="form-control form-control-solid" name="CustomerContactState">
                                <option value="">Select State</option>
                                <option value="Alabama">Alabama</option>
                                <option value="Alaska">Alaska</option>
                                <option value="Arizona">Arizona</option>
                                <option value="Arkansas">Arkansas</option>
                                <option value="California">California</option>
                                <option value="Colorado">Colorado</option>
                                <option value="Connecticut">Connecticut</option>
                                <option value="Delaware">Delaware</option>
                                <option value="Florida">Florida</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Hawaii">Hawaii</option>
                                <option value="Idaho">Idaho</option>
                                <option value="Illinois">Illinois</option>
                                <option value="Indiana">Indiana</option>
                                <option value="Lowa">Lowa</option>
                                <option value="Kansas">Kansas</option>
                                <option value="Kentucky">Kentucky</option>
                                <option value="Louisiana">Louisiana</option>
                                <option value="Maine">Maine</option>
                                <option value="Maryland">Maryland</option>
                                <option value="Massachusetts">Massachusetts</option>
                                <option value="Michigan">Michigan</option>
                                <option value="Minnesota">Minnesota</option>
                                <option value="Mississippi">Mississippi</option>
                                <option value="Missouri">Missouri</option>
                                <option value="Montana">Montana</option>
                                <option value="Nebraska">Nebraska</option>
                                <option value="Nevada">Nevada</option>
                                <option value="New Hampshire">New Hampshire</option>
                                <option value="New Jersey">New Jersey</option>
                                <option value="New Mexico">New Mexico</option>
                                <option value="New York">New York</option>
                                <option value="North Carolina">North Carolina</option>
                                <option value="North Dakota">North Dakota</option>
                                <option value="Ohio">Ohio</option>
                                <option value="Oklahoma">Oklahoma</option>
                                <option value="Oregon">Oregon</option>
                                <option value="Pennsylvania">Pennsylvania</option>
                                <option value="Rhode Island">Rhode Island</option>
                                <option value="South Carolina">South Carolina</option>
                                <option value="South Dakota">South Dakota</option>
                                <option value="Tennessee">Tennessee</option>
                                <option value="Texas">Texas</option>
                                <option value="Utah">Utah</option>
                                <option value="Vermont">Vermont</option>
                                <option value="Virginia">Virginia</option>
                                <option value="Washington">Washington</option>
                                <option value="West Virginia">West Virginia</option>
                                <option value="Wisconsin">Wisconsin</option>
                                <option value="Wyoming">Wyoming</option>
                            </select>
                        </div>
                        <!--end::Col-->

                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="row mb-6">

                        <!--begin::Label-->
                        <label class="col-lg-2 col-form-label fw-semibold fs-6">
                            Zip
                        </label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-4 fv-row">
                            <input type="text" name="CustomerContactZip" id="CustomerContactZip" class="form-control form-control-lg form-control-solid" placeholder="Zip">
                        </div>
                        <!--end::Col-->

                        <!--begin::Label-->
                        <label class="col-lg-2 col-form-label fw-semibold fs-6">
                            FEID
                        </label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-4 fv-row">
                            <input type="text" name="CustomerFEID" id="CustomerFEID" class="form-control form-control-lg form-control-solid" placeholder="FEID">
                        </div>
                        <!--end::Col-->


                        <!--begin::Label-->
                        <label class="col-lg-2 col-form-label fw-semibold fs-6">
                            Term
                        </label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-4 fv-row">
                            <input type="text" name="CustomerTerm" id="CustomerTerm" class="form-control form-control-lg form-control-solid" placeholder="Term">
                        </div>
                        <!--end::Col-->
                        <!--begin::Label-->
                        <label class="col-lg-2 col-form-label fw-semibold fs-6">Active</label>
                        <!--begin::Label-->
                        <!--begin::Label-->
                        <div class="col-lg-4 d-flex align-items-center">
                            @*<label><input type="checkbox" id="isActive" class="chk"> Select This</label>*@

                            <div class="form-check form-check-solid form-switch form-check-custom fv-row">
                                <input class="form-check-input w-45px h-30px" type="checkbox" id="isActive">
                                <label class="form-check-label" for="isActive"></label>
                            </div>
                        </div>
                        <!--begin::Label-->
                    </div>
                    <!--end::Input group-->
                </div>
                <!--end::Card body-->
                <!--begin::Actions-->
                <div class="card-footer d-flex justify-content-end py-6 px-9">
                    <button type="submit" class="btn btn-light btn-active-light-primary me-2" id="btnReset">Discard</button>

                    <button type="submit" class="btn btn-primary" id="btnSave">Save Changes</button>
                </div>
                <!--end::Actions-->
                <input type="hidden">
            </form>
            <!--end::Form-->
        </div>
        <!--end::Content-->
    </div>
</div>

@section scripts{
    <script>
       $(function () {
           $("#btnReset").click(function (e) {
               e.preventDefault();
               window.location.href = '@Url.Action("ViewCustomers", "Customer")';
           });

           $("#btnSave").click(function (e) {

            debugger;
            e.preventDefault();
           var cust = {};
            cust.CustomerName = $("#CustomerName").val();
            cust.CustomerContactPhone = $("#CustomerContactPhone").val();
            cust.CustomerContactEmail = $("#CustomerContactEmail").val();
            cust.CustomerContactAddress1 = $("#CustomerContactAddress1").val();
            cust.CustomerContactAddress2 = $("#CustomerContactAddress2").val();
            cust.CustomerContactCity = $("#CustomerContactCity").val();
               cust.CustomerContactState = $("#CustomerContactState").val();
               cust.CustomerIdPK = $("#CustomerIdPK").val();

               cust.CustomerContactZip = $("#CustomerContactZip").val();
               cust.CustomerFEID = $("#CustomerFEID").val();
               cust.CustomerTerm = $("CustomerTerm").val();
               cust.isActive = $('input#isActive').prop('checked');
            console.log("Customer:" + JSON.stringify(cust))

             $.ajax({
                type: "POST",
                url: '@Url.Action("AddCustomer", "Customer")',
                 data: '{customer: ' + JSON.stringify(cust) + '}',
                // data: JSON.stringify({ customer: cust }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    // alert("Data has been added successfully.");
                    if (response.Message == "SUCCESS") {
                        window.location.href = '@Url.Action("ViewCustomers", "Customer")';
                    } else {
                        alert("Error while inserting data");
                        return false;
                    }
                },
                error: function () {
                    alert("Error while inserting data");
                }
            });
            return false;
        });
    });
    </script>

}